.custom-scrollable-div {
    height: calc(100vh - 250px);
    overflow-y: scroll;
    background-image: url('{{url_for("static", filename="img/bg2.jpg")}}');
    background-image: url("../src/img/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }

  /* Remove scrollability from the body */
  body {
    overflow: hidden;
    height: 100vh;
  }
  #chatbox::placeholder {
    color: white;
  }
  .card-body pre {
    background-color: var(--bs-gray-700);
    border: 1px solid var(--bs-gray-500);
    border-radius: 5px;
    padding: 10px;
  }
  card-body code:not([class]) {
    /* Your styles for code tags without a class go here */
    color: var(--bs-gray-700);
    /* Add any other styles you want */
  }
  .bg-chatbot {
    background: #0a969c;
  }
  #chatBody{
    max-height: 700px;
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 10px;
      scroll-behavior: smooth;
  }