:root{
  --indego-800: rgb(41, 6, 96);
  --indego-900: rgb(20, 3, 48);
  --purple-800: #2b1a4d;
  --purple-900:#160d26;
  --purple-100:#e2d9f3;
  --purple-200:#c5b3e6;
  --purple-500:#6f42c1;
}
.custom-scrollable-div {
    height: calc(100vh - 250px);
    overflow-y: scroll;
    /* background-image: url("/static/img/bg2.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }

  /* Remove scrollability from the body */
  body {
    overflow: hidden;
    height: 100vh;
  }
  body,#chatbox,#chatbox::placeholder {
    color:var(--purple-100)!important;
  }
 
  #chatbox:focus , #chatbox:active {
    outline: none !important;
    box-shadow: none!important;
    /* border-color: var(--bs-gray-900)!important;
    background-color: var(--bs-gray-700)!important;
    transition: background-color 0.4s ease-out!important; */
  }
  .border-dark-900{
    border-color: var(--bs-gray-900) !important;
  }
  .bg-dark-900{
    background-color: var(--bs-gray-900) !important;
  }
  .border-dark-800{
    border-color: var(--bs-gray-800) !important;
  }
  .bg-dark-800{
    background-color: var(--bs-gray-800) !important;
  }
  .bg-blue-800{
    background-color: #052c65!important;
  }
  .bg-blue-900{
    background-color: #031939!important;
  }
  .bg-indego-800{
    background-color: var(--indego-800)!important;
  }
  .bg-indego-900{
    background-color: var(--indego-900)!important;
  }
  .bg-purple-200{
    background-color: var(--purple-200)!important;
  }
  .bg-purple-500{
    background-color: var(--purple-500)!important;
  }
  .bg-purple-800{
    background-color: var(--purple-800)!important;
  }
  .bg-purple-900{
    background-color: var(--purple-900)!important;
  }
  .border-purple-900{
    border-color: var(--purple-900)!important;
  }

  .border-blue-800{
    border-color: #052c65!important;
  }
  .card-body pre {
    background-color: var(--bs-gray-700);
    border: 1px solid var(--bs-gray-500);
    border-radius: 5px;
    padding: 10px;
  }
  card-body code:not([class]) {
    /* Your styles for code tags without a class go here */
    color: var(--bs-gray-700);
    /* Add any other styles you want */
  }
  .bg-chatbot {
    background: #0a969c;
  }
  #chatBody{
    max-height: 100%;
      overflow-y: auto ;
      /* border: 1px solid #ccc; */
      padding: 10px;
      scroll-behavior: smooth;
  }
  
  .assistantBubble{
    min-width: 63px;
  }
  /* width */
  #chatBody::-webkit-scrollbar {
    width: 5px; /* adjust as needed */
  }
  
  /* track */
  #chatBody::-webkit-scrollbar-track {
    background: var(--bs-gray-900); /* or any color you prefer */
    border-radius: 5px;
  }
  
  /* handle */
  #chatBody::-webkit-scrollbar-thumb {
    background: var(--bs-gray-600); /* or any color you prefer */
    border-radius: 5px;
  }
  
  /* handle on hover */
  #chatBody::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-700); /* or any color you prefer */
  }
  #chatsend{
    transition: transform 1s ease;
    background-color:transparent;
  }
  #chatsend:hover{
    background-color: var(--bs-gray-700) !important;
    transition: background-color 0.4s ease-out!important;
  }
  #chatsend:hover i{
    transform: rotate(-90deg)!important;
    transition: transform 0.5s ease-in-out!important;
  }
  #chatsend:not(:hover) i{
    transform: rotate(0deg)!important;
    transition: transform 0.5s ease-in-out!important;
  }
  #chatsend:disabled {
    cursor: not-allowed!important;
  }
  #chatbox:disabled {
    cursor: not-allowed!important;
    background-color: rgba(var(--purple-800),0.7)!important;
  }
  #chatbox:disabled::placeholder{
    color:var(--bs-gray-500)!important;
  }
.shadow-top-lg{
  box-shadow: 0 -2rem 3rem rgba(0, 0, 0, 0.175)!important;
}
.shadow-bottom-lg{
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.175)!important;
}
.chat-grid{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "chatBody" "chatInput";
  height: 100vh!important;
  width: 100vw!important;
  overflow: hidden!important;
}
.w-bubble{
  max-width: 600px;

}

/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
  /* Your mobile styles go here */
  .w-bubble{
    max-width: 300px;
  }
}

/* Target landscape mode specifically (optional) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Landscape styles go here */
  .w-bubble{
    max-width: 400px;
  }
}
