<script id="message-template" type="text/html">
    <%#isUser%>
    <div class="d-flex justify-content-end my-md-2 my-3">
        <div class="d-flex justify-content-between gap-2 ">
            <div class="card border bg-purple-200 border-1 rounded-1 w-bubble" ">
                <div class="card-body py-1 px-2">
                    <p class="card-text"><%{ message }%></p>
                </div>
            </div>
            <span style="width:36px; height:36px" class="px-1 mx-1 text-white rounded-circle bg-purple-900 d-flex justify-content-center align-items-center align-self-start">
                <i class=" fa-solid fa-user fa-lg"></i>
            </span>
        </div>
    </div>
    <%/isUser%>

    <%^isUser%>
    <div class="d-flex justify-content-start my-md-2 my-3" id="<%messageId%>">
        <div class="d-flex justify-content-between gap-2">
            <span style="width:36px; height:36px" class="px-1 mx-1 text-white rounded-circle bg-purple-900 d-flex justify-content-center align-items-center align-self-start">
                <i class="fa-solid fa-robot fa-lg"></i>
            </span>
            <div class="card bg-purple-500 text-white border border-1 rounded-1  w-bubble" >
                <div class="card-body py-1 px-2">
                    <p class="card-text assistantBubble"><%{message}%></p>
                </div>
            </div>
        </div>
    </div>
    <%/isUser%>

</script>